/* flat
black           #1f2d3a   rgba(31,45,58,1) 
grey            #2c3e50   rgba(44,62,80,1) 
lightgrey       #84888b   rgba(132,136,139,1) 
white           #ecf0f1   rgba(236,240,241,1) 
purple          #8e44ad   rgba(142,68,173,1) 
violet          #9b59b6   rgba(155,89,182,1) 
green           #27ae60   rgba(39,174,96,1) 
lightgreen      #2ecc71   rgba(46,204,113,1) 
cyan            #16a085   rgba(22,160,133,1) 
lightcyan       #2aa198   rgba(42,161,152,1) 
blue            #2980b9   rgba(41,128,185,1) 
lightblue       #3498db   rgba(52,152,219,1) 
darkred         #c0392b   rgba(192,57,43,1) 
red             #e74c3c   rgba(231,76,60,1) 
orange          #f39c12   rgba(243,156,18,1) 
yellow          #f1c40f   rgba(241,196,15,1) 
*/

.fbUserStory ._5g-l, /* suggested post */
/* .fbUserStory < ._14bc, .fbUserStory < ._14bf /* sponsored post */
[aria-labelledby=js_r], /* sponsored post */
.pagelet-group.pagelet, .ego_section *,
#findFriendsNav, /* find friend button */
#pagelet_composer, /* window to write new status */
#appsNav, #createNav, #userNav, /* left sidebar */
/* right side bar */
#rightCol {
   display: none !important;
}

#leftCol {
   left: -20px !important;
}

/* main feed */
/* move to center, increase width */
#contentArea {
   left: 60px !important;
   width: 700px !important;
}

/* fix image not fill container */
.uiScaledImageContainer {
   display: inline !important;
}
