/* code in commit */
.diff-view .blob-code-inner,
/* line number */
td.blob-num,
/* code in files */
td.blob-code {
   font-family: 'Inconsolata', monospace !important;
   font-weight: bold !important;
   font-size: 12px !important;
   line-height: 110% !important;
}

/* code in markdown */
.markdown-body pre,
.markdown-body pre *,
.markdown-body .highlight pre {
   font-family: 'Inconsolata', monospace !important;
   font-weight: bold !important;
   font-size: 15px !important;
   line-height: 120% !important;
}
