/* flat */
:root {
   --black:        #1f2d3a;
   --darkgrey:     #2c3e50;
   --lightgrey:    #84888b;
   --white:        #ecf0f1;
   --magenta:      #8e44ad;
   --lightmagenta: #9b59b6;
   --green:        #27ae60;
   --lightgreen:   #2ecc71;
   --cyan:         #16a085;
   --lightcyan:    #2aa198;
   --blue:         #2980b9;
   --lightblue:    #3498db;
   --darkred:      #c0392b;
   --red:          #e74c3c;
   --orange:       #f39c12;
   --yellow:       #f1c40f;

   --bg-color:           var(--black,     #1f2d3a);
   --bg-alt-color:       var(--grey,      #2c3e50);
   --fg-color:           var(--lightgrey, #84888b);
   --fg-alt-color:       var(--white,     #ecf0f1);
   --link-color:         var(--blue,      #2980b9);
   --link-hover-color:   var(--lightblue, #3498db);
   --link-visited-color: var(--purple,    #8e44ad); 
   --hl-color:           var(--cyan,      #16a085);
   --code-color:         var(--green,     #27ae60);
   --title-color:        var(--orange,    #f39c12);
   --alert-color:        var(--red,       #e74c3c);

   --img-brightness: 0.6;
}

/* scrollbar */
*::-webkit-scrollbar { width: 10px! important; height: 10px! important; background: var(--black, #1f2d3a) !important; }
*::-webkit-scrollbar-thumb { min-height: 18px !important; background: var(--grey, #2c3e50) !important; }
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner { background: var(--black, #1f2d3a) !important; }
