* {
   color: var(--fg-color, #84888b) !important;
}

/* main */
html, body,
#rightcolumn,
.top-container,
.responsive_entry_center_wrap {
   background-color: var(--bg-color, #1f2d3a) !important;
}

/* logo */
.old-logo-title,
/* rightcol */
.responsive_entry_center_right.responsive_hide_on_smartphone.share-this-entry,
.premium-box.premium_english,
.responsive_row.topic,
/* header text */
.definition-title,
#ad_topslot_a,
/* add to word list button */
.btn.icon-left-colapse.wl-add,
/* ad */
#ad_closed_panel,
#ad_btmslot_a,
#ad_leftslot_a,
/* bottom stuff */
.responsive_footer_top,
.versionSelector {
   display: none !important;
}

 {
   display: none !important;
}

/* main nav/footer */
.responsive_row.flush-below.top,
#ox-footer {
   background-color: var(--bg-alt-color, #2c3e50) !important;
}

.responsive_row.flush-below.top a:hover {
   background-color: var(--bg-color, #1f2d3a) !important;
}

/* right column */
#rightcolumn {
   top: -30px !important;
   position: relative !important;
}

.accordion.ui-grad > dt {
   box-shadow: unset !important;
   background-color: var(--bg-alt-color, #2c3e50) !important;
   border-color:     var(--bg-alt-color, #2c3e50) !important;
}

.accordion.ui-grad > dd {
   border-color: var(--bg-alt-color, #2c3e50) !important;
}

/* selected link */
.selected {
   background-color: var(--bg-alt-color, #2c3e50) !important;
}

/* search bar */
#search-form {
   background-color: var(--bg-alt-color, #2c3e50) !important;
   color:            var(--fg-color,     #84888b) !important;
   border-color:     var(--bg-alt-color, #2c3e50) !important;
}

#search-form * {
   border-color: var(--bg-alt-color, #2c3e50) !important;
}

.dictionarySelector #select_div {
   background-color: var(--bg-alt-color, #2c3e50) !important;
}

input {
   background-color: var(--bg-color, #1f2d3a) !important;
   padding-left: 5px !important;
}

/* search button */
#search-btn {
   background-color: var(--hl-color,     #16a085) !important;
   color:            var(--fg-alt-color, #ecf0f1) !important;
}

input[type="submit"] {
   background-color: transparent !important;
}

#search-form .inputSuggestions {
   background-color: var(--bg-alt-color, #2c3e50) !important;
   color:            var(--fg-color,     #84888b) !important;
}

#search-form .inputSuggestions * {
   background-color: var(--bg-alt-color, #2c3e50) !important;
   color:            var(--fg-color,     #84888b) !important;
}

/* definition part */

.webtop-g {
   background-color: var(--bg-alt-color, #2c3e50) !important;
}

.audio_play_button.pron-uk {
   filter: brightness(4) !important;
}

.sound.audio_play_button.pron-us {
   filter: brightness(5) !important;
}

/* list number */
.sn-g::before {
   color: var(--title-color, #f39c12) !important;
}

.box {
   background-color: var(--bg-alt-color, #2c3e50) !important;
}
