/* flat */
:root {
   --black:      #1f2d3a;
   --grey:       #2c3e50;
   --lightgrey:  #84888b;
   --white:      #ecf0f1;
   --purple:     #8e44ad;
   --violet:     #9b59b6;
   --green:      #27ae60;
   --lightgreen: #2ecc71;
   --cyan:       #16a085;
   --lightcyan:  #2aa198;
   --blue:       #2980b9;
   --lightblue:  #3498db;
   --darkred:    #c0392b;
   --red:        #e74c3c;
   --orange:     #f39c12;
   --yellow:     #f1c40f;

   --bg-color:           var(--black,     #1f2d3a);
   --bg-alt-color:       var(--grey,      #2c3e50);
   --fg-color:           var(--lightgrey, #84888b);
   --fg-alt-color:       var(--white,     #ecf0f1);
   --link-color:         var(--blue,      #2980b9);
   --link-hover-color:   var(--lightblue, #3498db);
   --link-visited-color: var(--purple,    #8e44ad); 
   --hl:                 var(--cyan,      #16a085);
   --alert               var(--red,       #e74c3c);

   --img-brightness: 0.6;
}

/* global */
* {
   border-color:     var(--bg-alt-color, #2c3e50) !important;
   background-color: var(--bg-color,     #1f2d3a) !important;
   color:            var(--fg-color,     #84888b) !important;
}

textarea,
#block-search-form .search-query {
    background-color: var(--bg-alt-color, #2c3e50) !important;
}

a {
   color: var(--link-color, #2980b9) !important;
}

a:hover, a:focus {
   color:            var(--link-hover-color, #3498db) !important;
   background-color: var(--bg-alt-color,     #2c3e50) !important;
}

a:visited {
   color: var(--link-visited-color, #8e44ad) !important;
}

h2 {
   color: var(--hl, #16a085) !important;
}

img, a img {
  filter: brightness(var(--pic-brightness, 0.6)) !important;
}

/* undisplay some bullshit */
.navbar .nav > li.first:nth-child(1),
.sidebar h2 {
   background: none !important;
}

#block-search-form .btn-search {
   display: none !important;
}

/* menu */

#main-nav a {
   color:            var(--link-color,   #2980b9) !important;
   background-color: var(--bg-alt-color, #2c3e50) !important;
}

#main-nav a:hover {
   background-color: var(--bg-color, #1f2d3a) !important;
}

li.first.leaf {
   display: none !important;
}

/* list in main page */
.item-list > ul > li {
   background: none !important;
   list-style-type: circle !important;
   list-style-position: inside !important;
}

/* arrow */
.caret {
    border-top: 4px solid var(--hl, #16a085) !important;
    border-right: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
    content: "" !important;
    background-color: transparent !important;
}

/* read more button */
ul.links li.node-readmore a {
   text-shadow: inherit !important;
}

/* fix Xem them link */
.more-link a:after, a.more-link:after, .page-search .node-readmore a:after {
   content: ">>" !important;
}

/* new */
.marker {
   color: var(--alert, #e74c3c) !important;
}
