/* flat
black           #1f2d3a   rgba(31,45,58,1) 
grey            #2c3e50   rgba(44,62,80,1) 
lightgrey       #84888b   rgba(132,136,139,1) 
white           #ecf0f1   rgba(236,240,241,1) 
purple          #8e44ad   rgba(142,68,173,1) 
violet          #9b59b6   rgba(155,89,182,1) 
green           #27ae60   rgba(39,174,96,1) 
lightgreen      #2ecc71   rgba(46,204,113,1) 
cyan            #16a085   rgba(22,160,133,1) 
lightcyan       #2aa198   rgba(42,161,152,1) 
blue            #2980b9   rgba(41,128,185,1) 
lightblue       #3498db   rgba(52,152,219,1) 
darkred         #c0392b   rgba(192,57,43,1) 
red             #e74c3c   rgba(231,76,60,1) 
orange          #f39c12   rgba(243,156,18,1) 
yellow          #f1c40f   rgba(241,196,15,1) 
/*

/* global */
* {
   border-color: #2c3e50 !important;
   background-color: #1f2d3a !important;
   color: #84888b !important;
}

textarea,
#block-search-form .search-query {
    background-color: #2c3e50 !important;
}

a {
   color: #2980b9 !important;
}

a:hover {
   color: #3498db !important;
}

a:visited {
   color: #8e44ad !important;
}

h2 {
   color: #16a085 !important;
}

img, a img {
  filter: brightness(0.6) !important;
}

/* undisplay some bullshit */
.navbar .nav > li.first:nth-child(1),
.sidebar h2 {
   background: none !important;
}

#block-search-form .btn-search {
   display: none !important;
}

/* menu */

#main-nav a:visited {
   color: #2980b9 !important;
}

/* list in main page */
.item-list > ul > li {
   background: none !important;
   list-style-type: circle !important;
   list-style-position: inside !important;
}

/* arrow */
.caret {
    border-top: 4px solid #16a085 !important;
    border-right: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
    content: "" !important;
}

/* read more button */
ul.links li.node-readmore a {
   text-shadow: inherit !important;
}

/* fix Xem them link */
.more-link a:after, a.more-link:after, .page-search .node-readmore a:after {
   content: ">>" !important;
}
