/* global */
* {
   border-color:     var(--bg-alt-color, #2c3e50) !important;
   background-color: var(--bg-color,     #1f2d3a) !important;
   color:            var(--fg-color,     #84888b) !important;
}

a {
   color: var(--link-color, #2980b9) !important;
}

a:hover {
   color: var(--link-hover-color, #3498db) !important;
}

a:visited {
   color: var(--link-visited-color, #8e44ad) !important;
}

h1, h2 {
   color: var(--hl-color, #16a085) !important;
}

img {
   background-color: transparent !important;
   filter: brightness(var(--img-brightness, 0.6)) !important;
}

/* button|input */
input.form-submit,
#block-search-form .search-query {
   background-color: var(--bg-alt-color, #2c3e50) !important;
}

/* menu */
.menu.nav a:visited {
   color: var(--link-color, #2980b9) !important;
}

/* table-kun */
font[color*="blue"] * {
   color: var(--link-color, #2980b9) !important;
}

font[color*="#dc143c"] * {
   color: var(--alert-color, #e74c3c) !important;
}

/* hide search icon */
#block-search-form .btn-search {
   display: none !important;
}

/* fix Xem them link */
.more-link a:after, a.more-link:after, .page-search .node-readmore a:after {
   content: ">>" !important;
}

/* new */
.marker {
   color: var(--alert-color, #e74c3c) !important;
}

/* fix ugly uppercase */
.fieldset-title {
   text-transform: lowercase !important;
}

/* cvim fix */
#cVim-link-container {
   background-color: transparent !important;
}
