/* global */
* {
   border-color: var(--hl-color, #16a085) !important;
   color:        var(--fg-color, #84888b) !important;
   border-radius: 0 !important;
}

body, html {
   background-color: var(--bg-alt-color, #2c3e50) !important;
}

a {
   color: var(--link-color, #2980b9) !important;
}

a:hover {
   color: var(--link-hover-color, #3498db) !important;
}

a:visited {
   /* color: var(--link-visited-color, #8e44ad) !important; */
}

h2 {
   color: var(--title-color, #f39c12) !important;
}

/* hide */
.block-hider-hide,
input.moveto.customcommand.requiresjs {
   display: none !important;
}

/* menu */
#page-header {
   background: none !important;
   background-color: var(--bg-color, #1f2d3a) !important;
}
.navbar {
   background-color: var(--bg-color, #1f2d3a) !important;
}

/* main */
#page-content,
.region-content *
{
   background-color: var(--bg-color, #1f2d3a) !important;
}

/* dock */
.dockeditempanel_bd,
.block_course_overview.block_docked {
   background-color: var(--bg-color, #1f2d3a) !important;
}

/* footer */
#page-footer-inner {
   background: none !important;
   background-color: var(--bg-color, #1f2d3a) !important;
}

/* button|select */
input[type="button"], input[type="submit"], button, .button {
   background-color: var(--hl-color,     #16a085) !important;
   color:            var(--fg-alt-color, #ecf0f1) !important;
}

select {
   border: none !important;
   background-color: var(--bg-alt-color, #2c3e50) !important;
}
