# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files

# Exclude parent directory ($HOME/)
/*

# Then only reinclude necessary files/folders in parent dir
!/README.md
!/LICENSE.md
!/.bashrc
!/.cvimrc
!/.inputrc
!/.npmrc
!/.npm-init.js
!/.gitignore
!/.tern-project
!/.vimrc
!/.Xmodmap
!/install.sh

!/bin/
!/css/
!/.fonts/

# Repeat the process for subdir .config
!/.config/
/.config/*
!/.config/compton.conf
!/.config/dunst/
!/.config/i3/
!/.config/git/
!/.config/gtk-3.0/
!/.config/ncmpcpp/
!/.config/neofetch/
!/.config/polybar/
!/.config/rofi/
!/.config/surfraw/
!/.config/zathura/

!/.config/mpd/
/.config/mpd/*
!/.config/mpd/mpd.conf
!/.config/mpd/mpd.conf.example

!/.config/ranger/
/.config/ranger/colorschemes/*
!/.config/ranger/colorschemes/flat.py

!/.config/xfce4/
/.config/xfce4/*
!/.config/xfce4/terminal/
/.config/xfce4/terminal/*
!/.config/xfce4/terminal/terminalrc

# Exclude undo/ plugged/ session/ swapfiles/ and some others
!/.vim/
/.vim/*
!/.vim/README.md
!/.vim/after/
!/.vim/autoload/
!/.vim/colors/
!/.vim/ftdetect/
!/.vim/ftplugin/
!/.vim/indent/
!/.vim/snippet/
!/.vim/syntax/

# Explicit exclude
**/tags
/.cache/
/.local/
/.ssh/
/.thumbnails/
/.vim/autoload/plug.vim
/.config/ranger/history
