# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files

# Exclude parent directory ($HOME/)
/*

# Then only reinclude necessary files/folders in parent dir
!/README.md
!/LICENSE.md
!/.bashrc
!/.cvimrc
!/.inputrc
!/.npmrc
!/.npm-init.js
!/.gitignore
!/.gitmodules
!/.profile
!/.pylintrc
!/.pythonrc.py
!/.ripignore
!/.scss-lint.yml
!/.tern-project
!/.vimrc
!/.vintrc
!/.xprofile
!/.Xmodmap
!/.Xresources
!/.zshrc
!/install.sh

!/bin/
!/screenshot/
!/script/
!/styles/
!/themes/
!/.fonts/
# git submodule add -b master https://github.com/NearHuscarl/vim-config \.vim;
!/.vim/

# Repeat the process for subdir .config
!/.config/
/.config/*
!/.config/compton.conf
!/.config/dunst/
!/.config/i3/
!/.config/git/
!/.config/gtk-3.0/
!/.config/ncmpcpp/
!/.config/neofetch/
!/.config/qutebrowser/
!/.config/rofi/
!/.config/surfraw/
!/.config/termite/
!/.config/youtube-dl/
!/.config/zathura/

!/.config/Code/
/.config/Code/*
!/.config/Code/User/
/.config/Code/User/*
!/.config/Code/User/settings.json
!/.config/Code/User/keybindings.json
!/.config/Code/User/README.md

!/.config/polybar/
# git update-index --assume-unchanged ~/.config/polybar/pac_update/package_list
/.config/polybar/pac_update/package_list
# git update-index --assume-unchanged ~/.config/polybar/news/news_url
/.config/polybar/news/news_url

!/.config/mpd/
/.config/mpd/*
!/.config/mpd/mpd.conf
!/.config/mpd/mpd.conf.example

!/.config/ranger/
/.config/ranger/colorschemes/*
# git update-index --assume-unchanged ~/.config/ranger/bookmarks
!/.config/ranger/colorschemes/flat.py

!/.config/xfce4/
/.config/xfce4/*
!/.config/xfce4/terminal/
/.config/xfce4/terminal/*
!/.config/xfce4/terminal/terminalrc

!/.icons/
/.icons/*
!/.icons/dunst/

# Only include some custom scripts in .virtualenvs/projectX/bin/
!/.virtualenvs/
/.virtualenvs/*
!/.virtualenvs/*/
/.virtualenvs/*/*
!/.virtualenvs/*/bin/
/.virtualenvs/*/bin/*

!/.virtualenvs/*/bin/postactivate
!/.virtualenvs/*/bin/postdeactivate

# Explicitly exclude
**/tags
**/node_modules/
**/package-lock.json
/.cache/
/.local/
/.ssh/
/.thumbnails/
/.vim/autoload/plug.vim
/.config/ranger/history
/.npm-global/
__pycache__
*.log
# api
weather_api.txt
gmail_pass.txt
credentials.json
