/* global */
* {
   border-color: $hl-color !important;
   color:        $fg-color !important;
   border-radius: 0 !important;
}

body, html {
   background-color: $bg-alt-color !important;
}

a {
   color: $link-color !important;

   &:hover {
      color: $link-hover-color !important;
   }

   &:visited {
      /* color: $link-visited-color !important; */
   }
}


h2 {
   color: $title-color !important;
}

/* hide */
.block-hider-hide,
input.moveto.customcommand.requiresjs {
   display: none !important;
}

/* menu */
#page-header {
   background: none !important;
   background-color: $bg-color !important;
}
.navbar {
   background-color: $bg-color !important;
}

/* main */
#page-content,
.region-content *
{
   background-color: $bg-color !important;
}

/* dock */
.dockeditempanel_bd,
.block_course_overview.block_docked {
   background-color: $bg-color !important;
}

/* footer */
#page-footer-inner {
   background: none !important;
   background-color: $bg-color !important;
}

/* button|select */
input[type="button"], input[type="submit"], button, .button {
   background-color: $hl-color !important;
   color:            $fg-alt-color !important;
}

select {
   border: none !important;
   background-color: $bg-alt-color !important;
}
