// scss-lint:disable ImportantRule
// scss-lint:disable ColorVariable

// global
* {
	background-color: transparent !important;
	border-color: $bg-alt-color !important;
	color: $fg-color !important;
}

a,
#header-bottom-right * {
	background-color: transparent !important;
}

button,
a.login-required.access-required,
a.option.active.remove,
a.option.active.add {
	background-color: $bg-alt-color !important;
	color: $fg-alt-color !important;
}

// Default links
a {
	color: $link-color !important;
}

.thing[data-context="listing"] a:visited {
	color: $link-visited-color  !important;
}

a:hover {
	color: $link-hover-color !important;
}

// input
textarea,
input {
	background-color: $bg-alt-color !important;
}

// Background
html,
body,
.side *,
.titlebox *,
.titlebox h1.redditname::before,
.modal-body {
	background-color: $bg-color !important;
}

#searchexpando > label {
	background-color: $bg-alt-color !important;
}

// Top bar
#header-img {
	filter: brightness(1) !important;
}

#sr-header-area {
	@include background-opacity(#000000, 0.4);
}

#sr-header-area *,
#header-bottom-left,
#header-bottom-right,
.tabmenu,
.tabmenu * {
	background-color: transparent !important;
}

// not link
h1 a:visited,
[id*="header"] a {
	color: $fg-alt-color !important;
}

// sidebar
.side {
	padding: 10px !important;
}

.titlebox::before {
	color: $fg-alt-color !important;
}

// dropdown
.drop-choices {
	background-color: $bg-alt-color !important;
}

// comment
form.usertext.cloneable {
	background-color: transparent !important;
}

.author {
	color: $main-color !important;
	font-weight: bold !important;
}

.score {
	color: $fg-alt-color !important;
}

div.child {
	border-left: solid 2px $bg-alt-color !important;
}

.thing.noncollapsed.comment {
	border-style: none !important;
}

// text
div.md {
	color: $fg-color !important;
}

.usertext-body {
	p {
		code {
			background-color: $bg-alt-color !important;
			border: none !important;
			color: $code-color !important;
		}
	}

	code {
		background-color: $bg-alt-color !important;
		border: none !important;
		color: $code-color !important;
	}

	pre {
		background-color: $bg-alt-color !important;

		code {
			background-color: $bg-alt-color !important;
			border: none !important;
			color: $code-color !important;
		}
	}
}

.md blockquote {
	background-color: $bg-alt-color !important;
	border-left: solid $title-color !important;
	display: inline-block !important;
}

.md blockquote p {
	background-color: transparent !important;
}

// cvim
.cVim-find-mark {
	background-color: $title-color !important;
	color: $fg-alt-color !important;
}

.cVim-find-mark[active] {
	background-color: $alert-color !important;
	color: $fg-alt-color !important;
}

img {
	filter: brightness($img-brightness) !important;
}

// somebody spams the !important keyword...
.commentarea .comment,
.commentarea .comment .comment,
.commentarea .comment .comment .comment,
.commentarea .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
.commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background-color: $bg-color !important;
}
