[Desktop Entry]
Version=1.0
Type=Application
Name=Screenshot
Comment=Take screenshots of the entire screen, of the active window or of a region
Exec=xfce4-screenshooter
Icon=applets-screenshooter
Path=
Terminal=false
StartupNotify=true
X-XFCE-Source=file:///home/near/Desktop/Screenshot.desktop
