// scss-lint:disable ImportantRule

// code in commit
.diff-view .blob-code-inner,
// line number
td.blob-num,
// code in files
td.blob-code {
	font: {
		family: $font-code !important;
		size: 12px !important;
		weight: bold !important;
	}
	line-height: 110% !important;
	tab-size: 3 !important;
}

// code in markdown
.markdown-body pre,
.markdown-body pre *,
.markdown-body .highlight pre {
	font: {
		family: $font-code !important;
		size: 15px !important;
		weight: bold !important;
	}
	line-height: 120% !important;
}

// fix horrendous tabsize of 8 in github when use tab character
* {
	-webkit-tab-size: 3 !important;
	-moz-tab-size: 3 !important;
	-o-tab-size: 3 !important;
	tab-size: 3 !important;
}
