snippet e "element" b
<${1:Element-Name}>$2</${1/(\w+).*/$1/}>
endsnippet

snippet style "css style" b
<style>
   $1
</style>
endsnippet

snippet en "element and newline" b

<${1:Element-Name}>
	$2
</${1/(\w+).*/$1/}>

endsnippet

snippet { "{} pairing" b
{
   $1
}
endsnippet
