// scrollbar

// ::-webkit-scrollbar              { (1) }
// ::-webkit-scrollbar-button       { (2) }
// ::-webkit-scrollbar-track        { (3) }
// ::-webkit-scrollbar-track-piece  { (4) }
// ::-webkit-scrollbar-thumb        { (5) }
// ::-webkit-scrollbar-corner       { (6) }
// ::-webkit-resizer                { (7) }

//                                       (1) ──┐
//                                            ┌┴┐
//                                            ┌─┐
//                                 (2) ─────┬─│▲│
//                                          └─│▼│┌─── (5)
// Lorem ipsum dolor sit amet, consetetur     ┢━┪│ ┐
// sadipscing elitr, sed diam nonumy eirmod   ┃|┃┘ │
// tempor invidunt ut labore et dolore magna  ┡━┩ ┐│
// aliquyam erat, sed diam voluptua. At vero  │ │ │├── (3)
// eos et accusam et justo duo dolores et ea  │ │ ││
// rebum. Stet clita kasd gubergren, no sea   │ │ ├┼── (4)
// takimata sanctus est Lorem ipsum dolor sit │ │ ││
// amet.                                      ├─┤ ┘┘
//                                            │▲│
//                                            │▼│
//                                         ───┼─┤
//                                         ───┴┬┘
//                                             └─── (6,7)


// scss-lint:disable ImportantRule

*::-webkit-scrollbar {
	-webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
	width: 10px !important;
}

*::-webkit-scrollbar:horizontal {
	height: 10px !important;
}

*::-webkit-scrollbar-thumb {
	background: $main-color !important;
	min-height: 18px !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background: $bg-color !important;
}
