// scss-lint:disable ImportantRule

html, body {
	background-color: $bg-alt-color !important;
	color: $fg-color !important;
}

.container {
	// default foreground color
	& * {
		border-color: $bg-alt-color !important;
		color: $fg-color !important;
	}

	.markdown-body {
		background-color: $bg-color !important;
		border: unset !important;

		// header
		h1, h2, h3, h4, h5, h6 {
			color: $main-color !important;
		}

		a {
			color: $link-color !important;

			&:hover {
				color: $link-hover-color !important;
			}
		}

		blockquote {
			border-left-color: $hl-color2 !important;
		}

		// highlight bar
		hr {
			background-color: $bg-alt-color !important;
		}

		// code
		code {
			background-color: $bg-alt-color !important;
			color: $code-color !important;
		}

		pre {
			background-color: $bg-alt-color !important;

			code {
				color: $white !important;
			}

			.hljs-string {
				color: $string !important;
			}

			.hljs-keyword {
				color: $keyword !important;
			}

			.hljs-comment {
				color: $comment !important;
			}

			.hljs-number {
				color: $number !important;
			}

			.hljs-function,
			.hljs-class {

				.hljs-keyword {
					color: $function !important;
				}

				.hljs-title {
					color: $title !important;
				}

				.hljs-params {
					color: $params !important;
				}
			}
		}

		table {
			tr {
				background-color: $bg-color !important;
				color: $fg-color !important;
			}
		}
	}
}
