[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/near/Desktop/AUR]
row=1
col=2

[/home/near/Desktop/habit-tracker.ods]
row=5
col=2

[/home/near/Desktop/corporation.vim]
row=0
col=1

[/home/near/Desktop/cli-visualizer-master.zip]
row=1
col=1

[/home/near/Desktop/rhapfr]
row=3
col=1

[/home/near/Desktop/desktop.png]
row=6
col=2

[/home/near/Desktop/stylish]
row=4
col=1

[/home/near/Desktop/misc]
row=2
col=2

[/home/near/Desktop/Download from Campo Santo various sizes.jpg]
row=6
col=0

[/home/near/Desktop/bg.xcf]
row=4
col=2

[/home/near/Desktop/cli-visualizer-master]
row=0
col=2

[/home/near/Desktop/Internet.txt]
row=3
col=2

[/home/near/Desktop/_ Edit Style vim color black.html]
row=2
col=1

[/home/near/Desktop/BeamNG.Drive - Mid-Air Car Crashes.mp4]
row=5
col=1

[/home/near/Desktop/picture-temp]
row=5
col=3

[/home/near/Desktop/Linux Backup]
row=6
col=1

[/home/near/Desktop/Wireless Problem]
row=2
col=3

[B42A11592A1119C6]
row=2
col=0

[01D316506F671E20]
row=3
col=0

[01D31633E26F6250]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=4
col=0

[/home/near]
row=5
col=0

