[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/near/Desktop/Arch.txt]
row=1
col=2

[/home/near/Desktop/AUR]
row=2
col=1

[/home/near/Desktop/Todo]
row=3
col=2

[/home/near/Desktop/archIcon.jpg]
row=3
col=1

[/home/near/Desktop/Linux Backup]
row=2
col=2

[/home/near/Desktop/ABP147d.png]
row=0
col=2

[/home/near/Desktop/Linux Backup.zip]
row=0
col=3

[01D316506F671E20]
row=0
col=0

[76AF-6FFD]
row=1
col=3

[01D31633E26F6250]
row=1
col=0

[B42A11592A1119C6]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=0
col=1

[/home/near]
row=1
col=1

