[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/near/Desktop/AUR]
row=7
col=0

[/home/near/Desktop/rhapfr]
row=2
col=1

[/home/near/Desktop/Inconsolata.zip]
row=0
col=1

[/home/near/Desktop/stylish]
row=3
col=1

[/home/near/Desktop/misc]
row=6
col=1

[/home/near/Desktop/ttf-mac-fonts]
row=6
col=0

[/home/near/Desktop/_ Edit Style vim color black.html]
row=1
col=1

[/home/near/Desktop/BeamNG.Drive - Mid-Air Car Crashes.mp4]
row=4
col=1

[/home/near/Desktop/Linux Backup]
row=5
col=1

[01D31633E26F6250]
row=1
col=0

[B42A11592A1119C6]
row=2
col=0

[01D316506F671E20]
row=0
col=0

[Trash]
row=5
col=0

[/]
row=3
col=0

[/home/near]
row=4
col=0

