[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/near/Desktop/AUR]
row=1
col=2

[/home/near/Desktop/CMpbo-0WcAQ97gm.png]
row=7
col=2

[/home/near/Desktop/flat-wallpaper-003.jpg]
row=7
col=0

[/home/near/Desktop/rhapfr]
row=3
col=1

[/home/near/Desktop/Inconsolata.zip]
row=1
col=1

[/home/near/Desktop/stylish]
row=4
col=1

[/home/near/Desktop/misc]
row=7
col=1

[/home/near/Desktop/Download from Campo Santo various sizes.jpg]
row=6
col=0

[/home/near/Desktop/ttf-mac-fonts]
row=0
col=2

[/home/near/Desktop/Dup]
row=2
col=2

[/home/near/Desktop/flat-design-wallpapers-HD-05_thumb.png]
row=5
col=2

[/home/near/Desktop/Desert-Night-Desktop-Wallpaper.png]
row=6
col=2

[/home/near/Desktop/Desert-Evening-Desktop-Wallpaper.png]
row=3
col=2

[/home/near/Desktop/_ Edit Style vim color black.html]
row=2
col=1

[/home/near/Desktop/BeamNG.Drive - Mid-Air Car Crashes.mp4]
row=5
col=1

[/home/near/Desktop/soaring_comet_flat_wallpaper_b_by_charlie_henson-d8pvn8f.png]
row=4
col=2

[/home/near/Desktop/log]
row=0
col=1

[/home/near/Desktop/Linux Backup]
row=6
col=1

[B42A11592A1119C6]
row=2
col=0

[01D316506F671E20]
row=3
col=0

[01D31633E26F6250]
row=1
col=0

[Trash]
row=0
col=0

[/]
row=4
col=0

[/home/near]
row=5
col=0

