// scss-lint:disable ImportantRule
// scss-lint:disable SelectorFormat
// scss-lint:disable ColorVariable
// scss-lint:disable ColorKeyword
// scss-lint:disable VariableForProperty

.flair-Ludeon {
	background-color: #e0861f !important;
	color: white !important;
}

.flair-mod {
	background-color: #a88c63 !important;
	color: white !important;
}

.flair-mod2 {
	background-color: #a88c63 !important;
	color: white !important;
}

.flair-extraLife {
	background-color: #faf9f8 !important;
	border-style: dotted !important;
	border-width: 2px !important;
	color: #d4280c !important;
	font-weight: bold !important;
}

.flair-fun {
	background-color: green !important;
	color: yellow !important;
}

.flair-ship {
	background-color: blue !important;
	color: black !important;
}

.flair-war {
	background-color: red !important;
	color: white !important;
}

.flair-pmfaf {
	background-color: #608396 !important;
	color: #e4ecf0 !important;
	font-family: Verdana, Geneva, sans-serif !important;
	font-weight: bold !important;
}

.flair-wood {
	background-color: #634918 !important;
	color: white !important;
}

.flair-steel {
	background-color: #847973 !important;
	color: white !important;
}

.flair-gold {
	background-color: #c8a521 !important;
	color: white !important;
}

.flair-silver {
	background-color: #b3b4b3 !important;
	color: white !important;
}

.flair-plasteel {
	background-color: #7b9a9c !important;
	color: white !important;
}

.flair-uranium {
	background-color: #4a484a !important;
	color: white !important;
}

.flair-granite {
	background-color: #675d5f !important;
	color: white !important;
}

.flair-marble {
	background-color: #838683 !important;
	color: black !important;
}

.flair-limestone {
	background-color: #9d9886 !important;
	color: black !important;
}

.flair-sandstone {
	background-color: #7d675d !important;
	color: black !important;
}

.flair-slate {
	background-color: #454545 !important;
	color: white !important;
}

.flair-jade {
	background-color: #61b036 !important;
	color: black !important;
}

.linkflairlabel {
	background-color: #738491 !important;
	color: #ffffff !important;
}
