.flair-Ludeon {
    background-color: #e0861f !important;
    color: white !important;
}

.flair-mod {
    background-color: #a88c63 !important;
    background-image: url("//a.thumbs.redditmedia.com/t97dp8hGFhXBQUIZRCxKwX7R7-VinaKqb6zKHb61jG4.png")!important;
    color: white !important;
}

.flair-mod2 {
    background-color: #a88c63 !important;
    background-image: url("//b.thumbs.redditmedia.com/-meviIMNRZ8gceLtI_E9E8tEYddqgUxsZKvRsD6G9hE.png")!important;
    color: white !important;
}

.flair-extraLife {
    background-color: #FAF9F8 !important;
    color: #D4280C !important;
    font-weight: bold !important;
    border-style: solid !important;
    border-style: dotted !important;
    border-width: 2px !important;
}

.flair-fun {
    background-color: green !important;
    color: yellow !important;
}

.flair-ship {
    background-color: blue !important;
    background-image: url("//b.thumbs.redditmedia.com/ppdwOH0fgLcyMcPdfEtz6iEUYtGFpzhO0GXHxtkeuNA.png")!important;
    color: black !important;
}

.flair-war {
    background-color: red !important;
    background-image: url("//b.thumbs.redditmedia.com/iVh3Ng61TwKffmQBRTP2pZx9aqYZGIpoAI8Dr0oHqkw.png")!important;
    color: white !important;
}

.flair-pmfaf {
    background-color: #608396 !important;
    background-image: url("//b.thumbs.redditmedia.com/u2n9QCyADZE7uNMOlvIBvGSrDF3gdL--xwLJNGFD7Jk.png")!important;
    color: #E4ECF0 !important;
    font-family: Verdana, Geneva, sans-serif !important;
    font-weight: bold !important;
}

.flair-wood {
    background-color: #634918 !important;
    color: white !important;
}

.flair-steel {
    background-color: #847973 !important;
    color: white !important;
}

.flair-gold {
    background-color: #C8A521 !important;
    color: white !important;
}

.flair-silver {
    background-color: #B3B4B3 !important;
    color: white !important;
}

.flair-plasteel {
    background-color: #7B9A9C !important;
    color: white !important;
}

.flair-uranium {
    background-color: #4A484A !important;
    color: white !important;
}

.flair-granite {
    background-color: #675D5F !important;
    color: white !important;
}

.flair-marble {
    background-color: #838683 !important;
    color: black !important;
}

.flair-limestone {
    background-color: #9D9886 !important;
    color: black !important;
}

.flair-sandstone {
    background-color: #7D675D !important;
    color: black !important;
}

.flair-slate {
    background-color: #454545 !important;
    color: white !important;
}

.flair-jade {
    background-color: #61B036 !important;
    color: black !important;
}

.linkflairlabel {
    color: #fff !important;
    background-color: #738491 !important;
}
