[Desktop Entry]
Version=1.0
Type=Application
Name=Task Manager
Comment=Easy to use task manager
Exec=xfce4-taskmanager
Icon=utilities-system-monitor
Path=
Terminal=false
StartupNotify=true
X-XFCE-Source=file:///home/near/Desktop/Task%20Manager.desktop
